.about-section {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: url('../img/bg-about.png');
  background-color: $pink;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  p {
  @media(min-width: 992px) {
    margin-bottom: 5rem;
  }
    height: 100vh;
    padding: 0;
  }
}
