.bg-pink {
  background-color: $pink !important;
}

.bg-red {
  background-color: $red !important;
}

.bg-primary {
  background-color: $primary !important;
}

footer {
  padding: 5rem 0;
}

body {

  letter-spacing: 0.0625em;
}

a {
  color: $primary;

  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.text-primary {
  color: $primary !important;
}

.btn-tamara {
  font-size: 80%;
  color: $primary;
  border: 1px solid $primary !important;

  &:focus {
    outline: none;
  }
}

.card, .navbar, .pagination .page-item.active .page-link {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}
