
.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: url('../img/bg-landing.png');
  background-color: $pink;

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 101%;

  img {
    display: block;
    width: 600px;
    width: 300px;
  }
  h2 {
      
    max-width: 20rem;
    font-size: 1rem;
  }
  @media(min-width: 768px) {

  }
  @media(min-width: 992px) {
    height: 100vh;
    padding: 0;

    img {
      display: block;
      width: 900px;
      width: 600px;
    }
    h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }
}
